@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

:root {
  --dark-gray: #24292f;
  --light-gray: rgba(87, 97, 109, .3);
  --white: #c9d1d9;
  --purple: #643cbb;
  --light-purple: #decfff;
  --border-radius: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: auto;
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: "Syne", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

header img {
  width: 100%;
  height: auto;
}

main {
  margin: auto 8rem;
}

h1 {
  font-size: 52px;
  line-height: 60px;
}

p, a {
  font-size: 17px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--light-purple);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  margin: 70px auto 0px;
}

.projects-container {
  width: 100%;
	height: auto;
  display: grid;
	grid-template-columns: repeat(auto-fill, 330px);
	grid-template-rows: repeat(auto-fill, auto);
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-top: 40px;
}

.projects-container .card {
  width: fit-content;
  max-width: 330px;
  min-height: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.projects-container .card img {
  max-width: 300px;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}

.projects-container .card img:hover {
  transform: scale(1.05);
  transition: .5s;
}

.projects-container .card .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects-container .card h3 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.projects-container .card h3 span {
  text-transform: uppercase;
  min-width: 75px;
  font-size: 16px;
  font-weight: bold;
}

.projects-container .card h3 a {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 10px;
}

.source-code-icon {
  width: 30px;
  height: 25px;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* margin-right: 15px; */
}


footer {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

footer a {
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 944px) {
  main {
    margin: auto 4rem;
  }
}

@media (max-width: 807px) {
  .projects-container {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  main {
    margin: auto 2rem;
  }

  h1 {
    font-size: 45px;
    line-height: 53px;
  }
}

@media (max-width: 328px) {
  h1 {
    font-size: 35px;
    line-height: 43px;
  }
}