@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

:root {
  --dark-gray: #24292f;
  --light-gray: rgba(87, 97, 109, .3);
  --white: #c9d1d9;
  --purple: #643cbb;
  --light-purple: #decfff;
  --border-radius: 1rem;
  font-size: 62.5%; /*1rem*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: auto;
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: "Syne", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3rem;
}

header img {
  width: 100%;
  height: auto;
}

main {
  margin: auto 8rem;
}

h1 {
  font-size: 5.2rem;
  line-height: 6rem;
  margin-bottom: 3rem;
}

p, a {
  font-size: 1.7rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: var(--light-purple);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  margin: 7rem auto 7rem;
}

.projects-container {
  width: 100%;
	height: auto;
  display: grid;
	grid-template-columns: repeat(auto-fill, 33rem);
	grid-template-rows: repeat(auto-fill, auto);
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	margin-top: 4rem;
}

.projects-container .card {
  width: fit-content;
  max-width: 33rem;
  min-height: 35rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.projects-container .card img {
  max-width: 30rem;
  margin-bottom: 1rem;
  align-self: center;
  border-radius: var(--border-radius);
}

.projects-container .card img:hover {
  transform: scale(1.05);
  transition: .5s;
}

.projects-container .card .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projects-container .card h3 {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.projects-container .card h3 span {
  text-transform: uppercase;
  min-width: 7.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.projects-container .card h3 a {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  gap: 1rem;
}

.source-code-icon {
  width: 3rem;
  height: 2.5rem;
  border-radius: 0.7rem;
  color: var(--white);
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* margin-right: 1.5rem; */
}

p a img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}


footer {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 3rem 0;
  background-color: var(--light-gray);
}

footer a {
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 944px) {
  main {
    margin: auto 4rem;
  }
}

@media (max-width: 807px) {
  .projects-container {
    justify-content: center;
  }
}

@media (max-width: 410px) {
  main {
    margin: auto 2rem;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 5.3rem;
  }
}

@media (max-width: 328px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4.3rem;
  }
}