@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

:root {
  --dark-gray: #24292f;
  --light-gray: rgba(87, 97, 109, .3);
  --white: #c9d1d9;
  --purple: #643cbb;
  --border-radius: 10px;
}

body {
  max-width: 100vw;
  height: auto;
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: "Syne", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

header img {
  width: 100%;
  height: auto;
}

main {
  margin: auto 10rem;
}

h1 {
  font-size: 52px;
  line-height: 60px;
}

p, a {
  font-size: 17px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--purple);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  margin: 70px 0px;
}

section table {
  width: 100%;
  padding: 20px;
  color: var(--white);
  border-collapse: separate;
  border-spacing: 20px 30px;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

section table th {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

section table td {
  width: fit-content;
  text-align: left;
  border-spacing: 0px;
  white-space: nowrap;
}

section table td a {
  display: flex;
}

section table td a img {
  max-width: 300px;
  width: fit-content;
  border-radius: var(--border-radius);
}

section table td a img:hover {
  transform: scale(1.05);
  transition: .5s;
}

.source-code-icon {
  width: 30px;
  height: 25px;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 15px;
}


footer {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

footer a {
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1071px) {
  main {
    margin: auto 5rem;
  }
  .table-container {
    overflow-x: scroll;
  }
}

@media (max-width: 768px) {
  main {
    margin: auto 2rem;
  }
}