@import url("https://fonts.googleapis.com/css2?family=Palanquin&family=Staatliches&display=swap");

:root {
  /*Fonts*/
  font-size: 62.5%; /*10px*/
  --ff-body: "Palanquin", sans-serif;
  --fs-body: 1.6rem;
  --ff-heading: "Staatliches", cursive;
  --fs-heading: 4rem;

  /*Colors*/
  --dark-text: #23053A;
  --dark-blue: #4A4E69;
  --light-blue: #8E9AAF;
  --dark-pink: #CBC0D3;
  --light-pink: #FEEAFA;
  --baby-blue: #EFF1FF;
  --white: #FFFFFF;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  background-color: var(--baby-blue);
}

header {
  background-color: var(--light-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: fit-content;
  height: auto;
  margin-top: 3.2rem;
}

header h1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.9rem;
  font-family: var(--ff-heading);
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.5px;
  color: var(--white);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--dark-pink);
  text-transform: uppercase;
  margin: 3.2rem auto 2.9rem auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4rem 3.2rem 6rem 3.2rem;
}

main p {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--dark-text);
  margin-bottom: 6.3rem;
  max-width: 32rem;
  align-self: center;
}

main .menu {
  display: grid;
  gap: 3.2rem;
  justify-content: center;
}

main .menu .card {
  position: relative;
  max-width: 32rem;
  animation: downtop 700ms;
}

main .menu .card img {
  object-fit: cover;
}

main .menu .card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  padding: 0 2.4rem;
  font-size: 2rem;
  line-height: 3.4rem;
  color: var(--dark-blue);
  background-color: var(--light-pink);
  border-radius: 2rem;
  animation: topdown 700ms 450ms backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 430px) {
  main .menu .card img {
    max-width: 30rem;
  }
}


/* @media (min-width: 700px) {
  main .menu {
    grid-template-columns: repeat(2, auto);
    grid: 5rem;
  }

  main p {
    max-width: 69rem;
    align-self: center;
  }
} */

@media (min-width: 700px) {
  main .menu {
    grid-template-areas:
      "itemA itemB"
      "itemC itemD";
    grid: 5rem;
  }

  main .menu .card:nth-child(1) {
    grid-area: itemA;
  }

  main .menu .card:nth-child(3) {
    grid-area: itemB;
  }

  main .menu .card:nth-child(2) {
    grid-area: itemC;
  }

  main .menu .card:nth-child(4) {
    grid-area: itemD;
  }

  main p {
    max-width: 69rem;
  }
}